*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: bisque;
}

.container{
    width: 80%;
    min-height:100vh;
    margin: auto;

}

input{
    background-color: whitesmoke;
    outline: none;
    font: 100 1rem sans-serif;
    padding: 10px;
}

button{
    background-color: rgba(49, 49, 49, 0.863);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: black;
}
.tag{
    background-color: burlywood;
    box-sizing: border-box;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    
}