*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: bisque;
}

.container{
    width: 80%;
    min-height:100vh;
    margin: auto;
    background-color: #ffcf90;

}

input{
    width: 80%;
    box-sizing: border-box;
    border: 1px solid rgba(49, 49, 49, 0.479);
    font: 100 1.2rem "Lucida Sans";
    outline: none;
    font: 100 1rem sans-serif;
    padding: 20px;
}

button{
    background-color: rgba(49, 49, 49, 0.863);
    color: white;
    padding: 25px;
    width: 19%;
    font: 100 1rem sans-serif;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: black;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tag{
    background-color: rgb(223, 172, 107);
    box-sizing: border-box;
    color:whitesmoke;
    width: 30%;
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}
.tag:hover{
    transform: translateY(-10px);
}